.right-border{
    border-right: 1px solid white;
    padding: 4px 10px 4px 75px;
    line-height: 10px;
}
#main_nav{
    justify-content: space-between;
}
#navbarText{
    margin-right:75px;
}
a.nav-link{
    color:white;
}
.page_container{
    padding:40px;
}
.options{
    margin-top:20px;
}
.col-sm{
    margin: 10px;
}
.center-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-box{
    width: 60px;
    height: 60px;
    background-color: black;
    z-index: 1;
    position: absolute;
    margin-top: -30px;
    margin-left:-10px;
    color:white;
    text-align: center;
}
.big-box{
    width:200px;
    height: 150px;
    border: 2px solid black;
    margin-left: 20px;
    text-align: center;
}
.col-sm{
    padding: 20px;
}
.oval-border{
    padding:5px;
    border: 2px solid black;
    border-radius: 50px;
    font-size: small;
}
.account-info , .schedule{
    width:150px;
}
.button-container{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: space-around;
    padding: 50px 20px;
}
div.big-box>a{
    text-decoration: none;
    color: black;
}
table>thead>tr{ 
    border-bottom: 3px solid grey;
}
iframe{
    border:0px;
    z-index: 100;
    height: 10vh;
}
.student-options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 3%;
}
.student-options-container>div{
    width: 100%;
}
.student-options-container>div>table{
    color:grey;
}
h3{
    text-decoration: underline;
    color: grey!important;
    margin-bottom: 5vh!important;
}
.table{
    text-align: center;
}
.type{
    text-align: center;
}
.subject{
    text-align: center;
    flex-grow: 0.4 !important;
    height:auto;
    background-color: yellow;
    padding: 10px 0px;
}
.space-around{
    justify-content: space-around !important;
}
.subject-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 57vh;
    overflow-y: scroll;
    width: 220px !important;

}

.subject_type{
    font-weight: bold;
}
.subject_name{
    padding: 2px;
    word-wrap: break-word;
}
.subject_credit_hours{
    font-size: 10px;
}
.subject_details_box{
    border: 0.5px solid black;
    font-size:10px;
}
div.student-options-container>div>div.row{
    flex-wrap: inherit !important;
}
.pending_credit_hours{
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw !important;
}
.pending_credit_hours_details{
    border: 1px solid gray;
    text-align: center;
    padding: 15px;
   
   
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 0;
        align-items: center;
    }
    
}